In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.0-py3-none-any.whl (1.4 MB)
                                              0.0/1.4 MB ? eta -:--:--
     -------                                  0.3/1.4 MB 8.6 MB/s eta 0:00:01
     ---------------------                    0.8/1.4 MB 12.0 MB/s eta 0:00:01
     -------------------------------------    1.4/1.4 MB 10.7 MB/s eta 0:00:01
     ---------------------------------------- 1.4/1.4 MB 10.2 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.2.1 in d:\anaconda\lib\site-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in d:\anaconda\lib\site-packages (from mlxtend) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.0)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.0

In [3]:
from mlxtend.preprocessing import TransactionEncoder

In [4]:
df = pd.read_csv(r"D:\ml dataset\LP-1 Dataset\Apriori\Oder3.csv")

In [5]:
df

       TransactionNo          Items          DateTime    Daypart  DayType
0                  1          Bread   10/30/2016 9:58    Morning  Weekend
1                  2   Scandinavian  10/30/2016 10:05    Morning  Weekend
2                  2   Scandinavian  10/30/2016 10:05    Morning  Weekend
3                  3  Hot chocolate  10/30/2016 10:07    Morning  Weekend
4                  3            Jam  10/30/2016 10:07    Morning  Weekend
...              ...            ...               ...        ...      ...
20502           9682         Coffee    9/4/2017 14:32  Afternoon  Weekend
20503           9682            Tea    9/4/2017 14:32  Afternoon  Weekend
20504           9683         Coffee    9/4/2017 14:57  Afternoon  Weekend
20505           9683         Pastry    9/4/2017 14:57  Afternoon  Weekend
20506           9684      Smoothies    9/4/2017 15:04  Afternoon  Weekend

[20507 rows x 5 columns]

In [6]:
te = TransactionEncoder()

In [7]:
x = te.fit_transform(df)

In [8]:
x

array([[False, False,  True, ...,  True,  True, False],
       [False,  True, False, ...,  True,  True, False],
       [ True, False, False, ..., False,  True, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [9]:
data = pd.DataFrame(x,columns=te.columns_)

In [16]:
len(data)

20507

In [10]:
data.head()

,D,I,N,T,a,c,e,i,m,n,o,p,r,s,t,y
0,False,False,True,True,True,True,False,True,False,True,True,False,True,True,True,False
1,False,True,False,False,False,False,True,False,True,False,False,False,False,True,True,False
2,True,False,False,True,True,False,True,True,True,False,False,False,False,False,True,False
3,True,False,False,False,True,False,False,False,False,False,False,True,True,False,True,True
4,True,False,False,True,True,False,True,False,False,False,False,True,False,False,False,True

In [11]:
data

,D,I,N,T,a,c,e,i,m,n,o,p,r,s,t,y
0,False,False,True,True,True,True,False,True,False,True,True,False,True,True,True,False
1,False,True,False,False,False,False,True,False,True,False,False,False,False,True,True,False
2,True,False,False,True,True,False,True,True,True,False,False,False,False,False,True,False
3,True,False,False,False,True,False,False,False,False,False,False,True,True,False,True,True
4,True,False,False,True,True,False,True,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20502,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20503,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20504,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20505,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20506,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
from mlxtend.frequent_patterns import apriori,association_rules

In [22]:
freq_itemset = apriori(data,min_support=0.00001,use_colnames=True)

In [23]:
print(freq_itemset)

       support                        itemsets
0     0.000146                             (D)
1     0.000049                             (I)
2     0.000049                             (N)
3     0.000146                             (T)
4     0.000195                             (a)
...        ...                             ...
1240  0.000049     (a, T, i, o, N, t, r, n, s)
1241  0.000049     (T, i, o, N, c, t, r, n, s)
1242  0.000049     (a, i, o, N, c, t, r, n, s)
1243  0.000049     (a, T, i, o, c, t, r, n, s)
1244  0.000049  (a, T, i, o, N, c, t, r, n, s)

[1245 rows x 2 columns]

In [24]:
len(te.columns_)

16

In [25]:
#Find Rules

rules = association_rules(freq_itemset,metric = 'confidence',min_threshold=0.25)

In [30]:
rules = rules[['antecedents','consequents','antecedent support','support','confidence']]

In [31]:
rules

,antecedents,consequents,antecedent support,support,confidence
0,(T),(D),0.000146,0.000098,0.666667
1,(D),(T),0.000146,0.000098,0.666667
2,(a),(D),0.000195,0.000146,0.750000
3,(D),(a),0.000146,0.000146,1.000000
4,(e),(D),0.000146,0.000098,0.666667
...,...,...,...,...,...
60129,(c),"(a, T, i, o, N, t, r, n, s)",0.000049,0.000049,1.000000
60130,(t),"(a, T, i, o, N, c, r, n, s)",0.000195,0.000049,0.250000
60131,(r),"(a, T, i, o, N, c, t, n, s)",0.000098,0.000049,0.500000
60132,(n),"(a, T, i, o, N, c, t, r, s)",0.000049,0.000049,1.000000
60133,(s),"(a, T, i, o, N, c, t, r, n)",0.000098,0.000049,0.500000

In [33]:
rules[rules['antecedents']=={'e'}]['consequents']

4                       (D)
19                      (I)
49                      (T)
71                      (a)
103                     (i)
                ...
14004       (a, T, y, D, p)
14128       (T, i, D, t, m)
14190       (a, i, D, t, m)
23366       (a, T, i, t, m)
27460    (a, T, i, D, t, m)
Name: consequents, Length: 99, dtype: object